POSTGRES_USER=gemelo
POSTGRES_PASSWORD=gemelo_dev
POSTGRES_DB=gemelo

MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin123

AIRFLOW_ADMIN_USER=admin
AIRFLOW_ADMIN_PASSWORD=admin
AIRFLOW_SECRET_KEY=change-this-secret